colorednoise==1.*,>=1.1.1
holoviews==1.*,>=1.14.0
hvplot==0.*,>=0.7.0
ipykernel==5.*,>=5.3.4
jupyter==1.*,>=1.0.0
magpylib==2.*,>=2.3.0.b0
mergedeep==1.*,>=1.3.0
pandas==1.*,>=1.1.5
python-box==5.*,>=5.2.0
scipy==1.*,>=1.5.4
terminado==0.8.3
toolz==0.*,>=0.11.1
